<div class="mt-4 d-flex justify-content-center">
  <div class="col-md-8">
    <div class="p-5 text-white bg-dark rounded-3">
      <h2>Vamos al componente principal</h2>
      <button
        [routerLink]="['/principal']"
        class="btn btn-danger"
        type="button"
      >
        Principal
      </button>
    </div>
  </div>
</div>
<div class="mt-4 d-flex justify-content-center">
  <div class="col-md-6">
    <div class="p-5 text-dark bg-light rounded-3">
      <h2>Not found</h2>

      <button
      [routerLink]="['/estoyPerdido']"
      class="btn btn-outline-dark"
      type="button">Estoy perdido</button>
    </div>
  </div>
</div>
